<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="T3 Static Files Dirs" stopProcessing="true">
          <match url="^/(typo3|typo3temp|typo3conf|t3lib|tslib|fileadmin|uploads|showpic\.php)$" />
        </rule>
        <rule name="T3 Static Files Dirs (Child requests)" stopProcessing="true">
          <match url="^/(typo3|typo3temp|typo3conf|t3lib|tslib|fileadmin|uploads|showpic\.php)/.*$" />
        </rule>
        <rule name="Rewrite Rule Condition">
          <match url="(.*)" />
          <action type="Rewrite" url="index.php" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
</system.webServer>
</configuration>